<div class="bar-wrapper">
    <div class="top-bar">
        <ul>
            <li>
                <img src="/assets/logo_icon.png" height="25" alt="">
                <a href="" class="logo">PIE SLICE</a>
            </li>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Catalog</a>
            </li>
            <li>
                <a href="">Cart</a>
            </li>
            <li>
                <a href="">Login</a>
            </li>
        </ul>
    </div>
</div>
