
<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
<div class="hero">
    <sweet-navbar></sweet-navbar>
    <p class="welcome-message">
        <img src="/assets/logo_icon.png" height="25" alt="">
        <i class="logo2">PIE SLICE</i>
        <br>
        TRY OUR BEST COLLECTION <br> OF CAKE AND COFFEE
        <br>
        <br>
        <a href="" class="cat-button">VIEW SHOP</a>
    </p>
    <p class="welcome-message-2">
        WE 
        MAKE 
        <br>
        OUR COFFEE 
        <br>
        <i>WITH BOTH <br><b style="color:wheat">LOVE</b> AND <b style="color:wheat;">Quality</b></i>
    </p>
</div>
